:root {
  --color-primary-1000: #000000;
  --color-primary-900: #0d0d0d;
  --color-primary-900-o: #0d0d0d85;
  --color-primary-800: #191919;
  --color-primary-800-o: #191919a9;
  --color-primary-700: #262626;
  --color-primary-600: #4F4F4F;
  --color-primary-600-o: #4f4f4f67;
  --color-primary-500: #636363;
  --color-primary-400: #acacac;
  --color-primary-300: #D9D9D9;
  --color-primary-200: #E5E5E5;
  --color-primary-100: #F4F4F4;
  --color-primary-100-o: #f4f4f445;
  --color-primary-000: #FFFFFF;

  --color-active: #8CC63F;
  --color-active-hover: #6E9D2F;
  --color-active-pressed: #5A7F24;

  --color-danger: #FF0000;
  --color-danger-hover: #E60000;
  --color-danger-pressed: #CC0000;

  --font-family-sans: "montserrat", sans-serif;
}